# merge tool backups
*.orig

# lua code coverage
luacov.stats.out
luacov.report.out

# build files
release/
doc/

# slime lib in examples
examples/*/slime.lua
tutorial/slime

# user files
.scripts
.tmp
TODO

